version: 2
updates:
  - package-ecosystem: mix
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    groups:
      mix:
        applies-to: version-updates
        patterns:
          - "*"
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: monthly
    open-pull-requests-limit: 10
    groups:
      github-actions:
        applies-to: version-updates
        patterns:
          - "*"
