language: elixir
sudo: false
elixir:
  - 1.3.0
  - 1.3.1
  - 1.3.2
  - 1.3.3
  - 1.4.0
otp_release:
  - 18.0
  - 18.1
  - 18.2
  - 19.0
  - 19.1
  - 19.2
notifications:
  email:
    on_success: change
    on_failure: change
after_script:
  - MIX_ENV=docs mix deps.get
  - MIX_ENV=docs mix inch.report
  - MIX_ENV=test mix coveralls.travis
